---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="About">
	<section class="page-content">
		<div class="container">
			<h2>About Essex Routes</h2>
			<p>
				
			</p>


			<Card dark={true}>
				
			<p>
				During the pandemic I came across a website, essexwalks.com which is sadly no longer online. This resource was invaluable to me during lockdown, the walks brought peace of mind, got me to explore my home county and reconnected me to nature. 
			</p>
			<p>
				As this website was so invaluable to me, it only feels right to restore it and keep this resource available. 
			</p>
			<p>
				All of these walks have been created by the owner of essexwalks.com, they have been tested by myself and I will continue to add to the collection. If you are the owner of essexwalks.com, please do get in touch! (Even if it's just for me to say thank you!)
			</p>
			</Card>
			<Card>
				<h3>Upcoming features</h3>
				<ul>
					<li>Mapbox integration</li>
					<li>GPX downloads</li>
					<li>Cycling routes</li>
				</ul>
				<p>If you have any suggestions for new routes or features you would like to see, <a href="mailto:bradgibbonsdev@gmail.com">get in touch</a></p>
			</Card>
			<Card>
				<h3>Country Courtesy</h3>
				<p>Walkers enjoy the legal right to roam across public footpaths, bridleways, and open access land. However, it's important to be mindful of a few dos and don'ts while enjoying the beautiful countryside:</p>
				<h4>Dos</h4>
					<ul>
						<li>Stick to Designated Paths: Use established footpaths and bridleways to avoid trespassing on private land.</li>
						<li>Respect Gates and Boundaries: Keep gates closed and follow any signs or instructions from landowners.</li>
						<li>Take Your Litter Home: Leave no trace - carry your trash with you and dispose of it properly.</li>
						<li>Close Gates Behind You: If you open a gate, ensure you close it to prevent livestock from escaping.
						</li>
						<li>Be Considerate: Keep noise levels down, respect wildlife, and be considerate of local residents.</li>
						<li></li>
					</ul>
					<h4>Don'ts</h4>
					<ul>
						<li>Trespass on Private Land: Avoid crossing fields or private property unless a public right of way exists.</li>
						<li>Damage Crops or Fences: Refrain from damaging crops or fences and leave agricultural machinery undisturbed.</li>
						<li>Litter or Vandalize: Do not leave litter, graffiti, or any form of vandalism behind.</li>
						Disturb Livestock: Keep a safe distance from livestock, particularly during calving or lambing seasons.
						<li>
						</li>
						<li>Light Fires: Open fires are generally prohibited, so do not light fires or camp without proper permission.</li>
					</ul>
					<p>
						By adhering to these dos and don'ts, walkers can enjoy the English countryside while respecting the rights and responsibilities that come with it, ensuring that this natural heritage remains accessible and preserved for future generations.
				 	</p>	
					<h4>The Right to Roam</h4>
					<p>	The Countryside & Rights of Way Act gave us partial Right to Roam over 8% of England. This 8% is often remote, meaning that access to land has become a postcode lottery, available to those who live next to it, or who can afford the cost of travel and overnight stays. Everywhere else, not covered by the CRoW Act, the public are actively made to feel unwelcome in our own landscape and have been portrayed for centuries as a threat to the countryside.</p>

					<p>If you feel like this is unfair and that nature should be accessible for all, please have a look at the <a href="https://www.righttoroam.org.uk/"> Right to Roam campaign and get involved. </a></p>
					
						
						
						
					
					
			</Card>
		</div>
	</section>
</Layout>
<style>
	a {
		text-decoration: underline;
	}
</style>