---
// Astro comes with async wrapped
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import Routes from "../components/Routes.astro";
import Tabs from "../components/Tabs.astro";
const res = await fetch("https://jsonplaceholder.typicode.com/users?_limit=10");

const users = await res.json();
---

<Layout>
	<Showcase />
	<Routes />
	<section class="page-content">
		<div class="container">
			<h2>Get Started With Astro</h2>
			<p>
				Get a new Astro project up and running locally with our helpful
				create-astro CLI wizard!
			</p>

			<Tabs
				headings={["npm", "pnpm", "yarn"]}
				contents={["$npm create astro", "create latest", "yarn astro create"]}
			>
				<h3>Start Building</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
					deserunt inventore ut voluptate, officia maiores repellat tenetur
					praesentium omnis est ex tempora a necessitatibus reiciendis at et
					dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
					laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
					iusto error molestias dolorum, necessitatibus labore?
				</p>
			</Tabs>
		</div>
	</section>
</Layout>
