---
// Astro comes with async wrapped
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import Routes from "../components/Routes.astro";
import Tabs from "../components/Tabs.astro";
import Card from '../components/Card.astro'
---

<Layout>
	<Showcase />

	<section class="page-content">
		<div class="container">
			<h2>Get Walking</h2>
			<p>
				Welcome to Essex Routes, your ultimate destination for discovering the natural beauty and cultural richness of Essex, United Kingdom, one step at a time. Whether you're an avid hiker, a leisurely stroller, or simply seeking a new way to connect with this stunning county, our website is your gateway to a diverse range of walking routes that showcase Essex's picturesque landscapes, historic sites, and hidden gems. From the tranquil shores of the Thames estuary to the lush greenery of Epping Forest, our meticulously curated collection of walking trails will lead you on a journey through Essex's enchanting countryside, charming villages, and vibrant towns. Join us in uncovering the county's countless stories, all found along the winding paths of Essex's walking adventures.
			</p>
			<button class="btn">View all routes </button>
			<br>
			<br>
			<h3>Recently added </h3>
		</div>
	</section>

	<Routes />
</Layout>
